#root {
  /* max-width: 1280px; */
  /* margin: auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  width: 100%;
}

.scrolling-wrapper {
  overflow-y: scroll;
  /* white-space: nowrap; */
  height: 100%;
}

.header {
  background-color: #1d1d1d;
  padding: 0.25em;
  height: 10%;
  max-height: 5.5em;
  margin: 0;
  left: 0px;
  right: 0px;
}

.main-body {
  background-color: #1d1d1d;
  padding: 0;
  height: 99vh;
  width: 100%;
  margin: 0;
  left: 0px;
  right: 0px;
}

.side-div {
  float: left;
  padding: 0;
  margin: 0;
  height: 100%;
}

.header-tab {
  padding: 0.25em;
  margin: 0;
  transition: 0.25s;
  float: right;
  font-size: 1em;
  height: 100%;
  background-color: #1d1d1d;
}

.weapon-tab { 
  float: left;
  width: calc((100%)/9);
}

.weapon-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.weapon-table {
  height: 100%;
  width: 100%;
}

.list-element{
  padding: 5px;
  margin: 0;
  text-align: center;
  border: #2d2d2d solid 1px;
}

.basic-row{
  color: #dddddd;
  transition: 0.25s;
  font-size: 1.5em;
}

.basic-row:hover{
  color: #1d1d1d;
  background-color: #dddddd;
}

.basic-weapon{
  color: #aaffaa;
  transition: 0.25s;
  overflow-y: scroll;
  cursor: pointer;
}

.basic-weapon:hover{
  color: #1d1d1d;
  background-color: #aaffaa;
}

.advanced-weapon{
  color: #ffddaa;
  transition: 0.25s;
  overflow-y: scroll;
  cursor: pointer;
}

.advanced-weapon:hover{
  color: #1d1d1d;
  background-color: #ffddaa;
}

.expert-weapon{
  color: #ffaaaa;
  transition: 0.25s;
  overflow-y: scroll;
  cursor: pointer;
}

.expert-weapon:hover{
  color: #1d1d1d;
  background-color: #ffaaaa;
}





.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 2s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
